:root {
    --Font-choice: Arial, 'Lucida Sans', sans-serif;
    --dusty-rose: #ed7ecc;
    --text-color: #204057;
    --lilac: #dc74eb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dusty-rose);
    color: var(--text-color);
    font-family: var(--Font-choice);
    
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 20px;
    font-family: var(--Font-choice);
    background-color: #7ecfed;
    color: var(--text-color);

}

.header h1 {
    font-family: var(--Font-choice);
    color: var(--text-color);
    font-size: 36px;
}

.header nav {

    margin-left: auto;
    font-family: var(--Font-choice);
    font-size: 20px;
    border: 1px;
    border-style: solid;
    border-color: red;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    border: 1px;
    border-style: solid;
    border-color: red;
}

a {
    color: #07585e;
}

a:hover {
    color: white;
}   

p {
    font-size: 16px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main {
    display: flex;
}

.about-me {
    font-family: var(--Font-choice);
    background-color: #faca7d;
    border: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
   /* flex: 25%;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    flex: 1; */
    width: 25%;
    
}

.about-me img {
    max-height: 200px;
    max-width: 200px;

}

.projects {
    font-family: var(--Font-choice);
    background-color: var(--dusty-rose);
    border: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    flex: 75%;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 3;
}

.projects img {
    max-width: 200px;
    max-height: 200px;
}

.large-project {
    width: 70%;
}

.project-2 {
    width: 40%;
}

.project-3 {
    width: 40%;
}

.project-4 {
    width: 40%;
}

.project-5 {
    width: 40%;
}

.project-6 {
    width: 40%;
}

.contact-me {
    padding: 30px;
    clear: both;
    background-color: var(--lilac);
    font-family: var(--Font-choice);
    border: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    margin-bottom: auto;
}

.contact-me nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-family: var(--Font-choice);
    font-size: 20px;
    border: 1px;
    border-style: solid;
    border-color: red;
    align-items: flex-end;
    justify-content: space-evenly;
}

.contact-me nav ul {
    list-style-type: none;
    border: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.contact-me nav ul li {
    display: inline-block;
    font-size: 16px;
    border: 1px;
    border-style: solid;
    border-color: red;
    align-items: flex-end;
}