:root {
    --Font-choice: Arial, 'Lucida Sans', sans-serif;
    --dusty-rose: #ed7ecc;
    --text-color: #204057;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dc74eb;
    color: var(--text-color);
    font-family: var(--Font-choice);
}

.header {
    padding: 20px;
    font-family: var(--Font-choice);
    background-color: #7ecfed;
    color: var(--text-color);
}

.header nav {
    padding-top: auto;
    margin-right: auto;
    float: right;
    font-family: var(--Font-choice);
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #07585e;
}

a:hover {
    color: white;
}   

p {
    font-size: 16px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.about-me {
    font-family: var(--Font-choice);
    background-color: var(--dusty-rose);
}

.about-me img {
    max-height: 200px;

}

.projects {
    font-family: var(--Font-choice);
    background-color: var(--dusty-rose);
}

.projects img {
    max-width: 200px;
    max-height: 200px;
}

.contact-me {
    font-family: var(--Font-choice);
}

.contact-me {
    padding: 30px;
    clear: both;
    font-family: var(--Font-choice)
    text-align: center;
}

.contact-me nav {
    padding-top: auto;
    margin-right: auto;
    float: center;
    font-family: var(--Font-choice);
    font-size: 20px;
}

.contact-me nav ul {
    list-style-type: none;
}

.contact-me nav ul li {
    display: inline-block;
    font-size: 16px;
}